
.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 5rem;

 
}

.project__card{
  background: rgba(0,0,0, 0.20);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 1.5rem;
  transition: var(--a-transition);
  gap: 1rem;
  margin: 1rem;
}

.project__card:hover{
  border-color: var(--primary-color);
}

.project__card h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 1rem;
}

.project__title-img{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 1rem;
}

.project__card-img{
  border-radius: 1.5rem;
  overflow: visible;
  max-width: 3rem;
}

.project__a{
  padding-top: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.project__topics{
  display: flex;
  gap: 1rem;
}

.project__topic{
  width: 100%;
  display: flex;
  padding: 0.5rem;
  gap: 0.1rem;
  flex-direction: column;
  justify-content: space-around;
}

.topic__text{
  font-size: small;
}

.topic__text::before{
  content: ' - ';
  width: 10rem;
  height: 0.2px;
  color: var(--primary-color);
}
