.projects__container{
  margin: 0 0;
  height: 100%;
}

.project__container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem;
}

.project__card{
  background: rgba(0,0,0, 0.20);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 1.5rem;
  transition: var(--a-transition);
  gap: 0.5rem;
  margin: 0.5rem;
}

.project__card:hover{
  border-color: var(--primary-color);
}

.project__card h3{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem 1rem;
}

.project__title-img-description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}
.project__title-img{
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.project__card-img{
  border-radius: 1.5rem;
  overflow: hidden;
  max-width: 3rem;
}

.project__a{
  padding-top: 1rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
}

.project__topics{
  display:flex;
  flex-wrap: wrap;
  max-height: max-content;
  gap: 1rem;
}

.project__topic{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: flex-start;
}

.topic__text{
  font-size: 0.8rem;
}

.topic__text::before{
  content: ' - ';
  width: 10rem;
  height: 0.2px;
  color: var(--primary-color);
}


/* MEDIA QUERY TO DESKTOP */

@media (min-width: 1024px){

  .projects__container{
    margin: 0 0;
    height: 100vh;
  }
  
  .project__container {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0.5rem 0.5rem;
    margin-left: 4rem;
  }

  .project__card{
    background: rgba(0,0,0, 0.20);
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 0.5rem;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 1.5rem;
    transition: var(--a-transition);
    gap: 1rem;
    margin: 1rem;
  }

  .main__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .project__topic{
    flex-direction: column;
  }
  
}