header {
    height: 100vh;
    padding-top: 7rem;
    /* overflow: hidden; */
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
}

/* HEADER INFO */

.header__info{
    display: flex;
    flex-direction: column;
}


/* HEADER BUTTONS */

.headerButton{
    margin-top: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

/* MAIN ALIEN IMG */

.header__img{
    display: block;
    width: 100%;
    background: linear-gradient(var(--secondary-bg-color), transparent);
    aspect-ratio: 1/1;
    height: 18rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    overflow: hidden;
    padding: 0.1rem;
}

/* HEADER SOCIALS */

.header__socials__img{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header__socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    gap: 1.5rem;
}

.header__socials__text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.5rem;
}

.header__socials__text::before{
    content: '';
    width: 10rem;
    height: 0.2px;
    background: rgba(13, 164, 126, 0.4 );
}
