nav{
    background: rgba(0, 0, 0, 0.20);
    width: max-content;
    display: block;
    padding: 0.5rem 0.5rem;
    z-index: 3;
    position: fixed;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    border-radius: 1.5rem;
    gap: 1rem;
    backdrop-filter: blur(30px);
}

nav a{
    font-size: 2rem;
    background: transparent;
    padding: 0.5rem;
    border-radius: 1.5rem;
    color: var(--light-color);
    display: flex;
    flex-wrap: wrap;
}

nav a:hover{
    background: var(--light-color);
    color: var(--primary-bg-color);
}

nav a.active{
    background: var(--primary-color);
    color: var(--light-color);
}

@media (min-width: 1024px) {
    nav{
        background: rgba(0, 0, 0, 0.20);
        width: max-content;
        height: fit-content;
        display: block;
        padding: 0.5rem 0.5rem;
        z-index: 3;
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
        border-radius: 1.5rem;
        gap: 1rem;
        backdrop-filter: blur(30px);
    }
}